<p>
  <strong>Due:</strong>
  <%= @todo.due %>
</p>

<p>
  <strong>Name:</strong>
  <%= @todo.user.name %>
</p>

<p>
  <strong>Task:</strong>
  <%= @todo.task %>
</p>

<p>
  <strong>Memo:</strong>
  <%= new_line(@todo.memo) %>
<!-- simple_format(@todo.memo) -->
</p>